.ui-key-value-list {
  display: grid;
  gap: 0.75rem;

  &__row {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    padding-block: 0.2rem;

    dt {
      font-size: 0.9rem;
      color: var(--text-secondary);
    }

    dd {
      margin: 0;

      font-size: 0.94rem;
      font-weight: 600;
      color: var(--text-primary);
      text-align: end;
    }
  }
}
